.icon-left {
    position: absolute;
    top: 15px;
    left: 15px;
}

.icon-right {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.season.winter i {
    color: blue;
}

.season.summer i {
    color: red;
}

.season {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summer {
    background-color: orange;
}

.winter {
    background-color: aliceblue;
}
